<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <strong>The form contained <%= pluralize(@user.errors.count, "error") %>.</strong>
    </div>
    <ol>
    <% @user.errors.full_messages.each do |msg| %>
      <li>- <%= msg %></li>
    <% end %>
    </ol>
  </div>
<% end %>