<li>
	<p class="content"><%= micropost.content %></p>
	<small class="timestamp">Posted <%= time_ago_in_words(micropost.created_at) %> ago.</small>
	<%= render 'shared/delete_link', object: micropost %>
</li>